[submodule "btk-hackathon-frontend"]
	path = apps/frontend
	url = https://github.com/emirhanyagci/btk-hackathon-frontend
[submodule "apps/frontend"]
	url = https://github.com/emirhanyagci/btk-hackathon-frontend
